@charset "utf-8";
p, h1, h2, h3, h4, h5, h6 {
	font-family: Arial, sans-serif;
	color: black;
}

#content-padding p {
	display: block;
    font-size: 1.25em;
    font-weight: bold;
}

#content-padding a {
	color: #0C5B7F;
}

body {
	width: auto;
	height: auto;
	background-color: white;
}

#container {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

#header {
	width: 100%;
	height: 90px;
	background-color: #15A3E5;
}

#header #logo {
	padding: 10px 0px 0px 10px;
}

#header #navigation {
	position: absolute;
	/* top: -16px; */
	top: 10px;
	right: 60px;
}

#header #navigation ul {
	/* magin: 0; - Shown as error in jigsaw.w3.org/css-validator. Deleted this line and the navigation menu still work. */
	padding: 0;
	overflow: hidden;	
	background-color: #0C5B7F;
}

#header #navigation li {
	list-style-type: none;
	float: right;
}

#header #navigation a {
	display: block;
	padding: 10px 30px;
	background-color: #0C5B7F;
	font-family: Arial, sans-serif;
	font-size: 30px;
	color: white;
	text-decoration: none;
}

#header #navigation a:hover {
	background-color: #062D40;
	color: white;
	text-decoration: none;
}

#header #navigation .active {
	display: block;
	padding: 10px 30px;
	background-color: #19B7FF;
	font-family: Arial, sans-serif;
	font-size: 30px;
	color: white;
	text-decoration: none;
}

#slideshow {
	/* position: absolute;
	width: 100%;
	height: 480px;
	background:  url(../images/slideshow01.jpg) no-repeat bottom center scroll;
    background-color: black;
    background-size: cover; */
	
    width: 100%;
    height: auto;
    padding: 60px 0;
    text-align: center;
    background: url(../images/slideshow02.png) no-repeat bottom center scroll;
    background-color: black;
    background-size: cover;
}

#slideshow mark {
	color: black;
	background-color: white;
	padding: 5px;
	opacity: 0.6;
}

#slideshow h1 {
	font-size: 40px;
}

#slideshow h2 {
	font-size: 30px;
}

#content {
	width: 100%;
	height: auto;
	background-color: #17B6FF;
}

#content-padding {
	padding: 10px 100px;
	text-align: center;
}

#footer {
	width: 100%;
	height: auto;
	background-color: #128dc6;
	padding: 10px 0px;
	text-align: center;
}

.priceTable {
	border: 1px solid #15A4E5;
}

.priceTable th {
	background-color: #062D40;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
}

.priceTable th:hover {
	background-color: #0B5B7F;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
}

.priceTable td {
	background-color: #0B5B7F;
	font-family: Arial, sans-serif;
	color: white;
}

#contactForm .inputText {
	width: 100%;
	height: 30px;
	font-size: 20px;
}

#contactForm textarea {
	width: 100%;
	height: 60px;
	font-size: 16px;
}

#contactForm .submit {
	width: 20%;
	height: 50px;
	font-size: 20px;
	display: block;
}

.curvedImage {
	/* For assert store only */
	border-radius: 120px 40px; /* Need to be large in size because of padding inline style */
}

#footer footer p {
	font-family: Verdana, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

#footer footer a {
	color: #005e91;
	text-decoration: none;
}

#footer footer a:hover {
	color: #005e91;
	text-decoration: underline;
}

.labelTable {
	margin-left: auto;
	margin-right: auto;
}

.labelTable td {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: black;
}

.footnote
{
	padding-top: 2px; padding-bottom: 1px; position: fixed; bottom: 0; width: 100%; z-index: 100; background-color: rgba(0, 0, 0, 0.6); color: white; text-align: center; font-weight: bold; font-size: 11px;
}